@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

*{
    box-sizing: border-box;
}

body,html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

main{
    background-color: hsl(30, 18%, 87%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    margin: 70px auto;
    background-color: hsl(0, 0%, 100%);
    width: clamp(320px, 100%, 700px);
    border-radius: 20px;
    padding: 30px
}

.card-content{
    padding: 0 0 30px 0;
}

h1,h2{
    font-family: "Young Serif", system-ui;
    font-optical-sizing: auto;
}

h1{
    margin: 30px 0 20px 0;
}

h2{
    margin-bottom: 15px;
}   

.instructions h2, .nutrition h2{
    margin-top: 30px;
}

h3, p, li, td:nth-child(odd), td:nth-child(even){
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    color: hsl(30, 10%, 34%);
}

h2,td:nth-child(even){
    color: hsl(14, 45%, 36%);
}

p{
    font-size: 16px;
}

img{
    width: 100%;
    border-radius: 20px;
}

.prep-time{
    padding: 20px;
    margin: 30px auto;
    border-radius: 10px;
    background-color: hsl(330, 100%, 98%);
}

li{
    padding-left: 20px;
    margin-bottom: 10px;
}

li::marker{
    color: hsl(14, 45%, 36%);
}

.prep-time h3{
    color: hwb(332 16% 52%);
    margin-bottom: 15px;
}

hr{
    border: 0;
    height: 2px;
    background-color: hsl(30, 18%, 87%);
    margin-top: 20px;
}

table{
    border-collapse: collapse;
}

tr{
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

tr:last-of-type{
    border-bottom: none;
}


td:nth-child(even){
    font-weight: 700;
    margin-left: -20px;
    width: 50%;
}

td:nth-child(odd){
    padding-left: 30px;
}

td{
    padding: 10px 0;
}

@media screen and (max-width: 376px) {
    .card{
        margin: 0px auto;
        background-color: hsl(0, 0%, 100%);
        padding: 0px;
        border-radius: 0;
    }

    img{
        border-radius: 0;
    }
    .card-content{
        padding: 0 30px 30px 30px;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }